<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/static/css/rambostyle.css"/>
    <title>N6 Region</title>
</head>
<body>
<h1>N6 Regional Status</h1>
<div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
        <thead>
            <th>
                <h1>Server ID</h1>
            </th>
            <th>
                <h1>Server Name</h1>
            </th>
            <th>
                <h1>Current Player Count</h1>
            </th>
            <th>
                <h1>Online</h1>
            </th>
        </thead>
    </table>
</div>
<div>
    <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
        {% for server in servers %}
            <tr>
                <td>
                    <h1>{{ server.id }}</h1>
                </td>
                <td>
                    <h1>{{ server.name }}</h1>
                </td>
                <td>
                    <h1>{{ server.player_count }}</h1>
                </td>
                <td>
                    <h1>{{ server.online }}</h1>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>